.tags-wrapper{
    display: flex;
    justify-content: space-between;
    text-align: left;
}
.tags-teams h3{
    color: grey;
    /* text-align: center; */
}
.tags-item{
    position: relative;
    display: flex;
        justify-content: space-between;
        align-items: center;
}
.tags-item-name{
    color: grey;
    margin-right: 10px;
}

.tags-first-name{
    cursor: pointer;
}

.tags-last-name{
    cursor: pointer;
}

.tags-first-name:hover, .tags-last-name:hover{
    border-bottom: 3px solid grey;
}

.tags-add-full-name{
    background-color: transparent;
    color: black;
    cursor: pointer;
    outline: 0px solid grey;
    padding: 5px;
    /* position: absolute; */
    /* right: 0; */
}