.post-control-bar{
    /* outline: 1px solid black; */
    display: flex;
        justify-content: space-evenly;
        align-items: center;
    margin: 1rem 0rem 1rem 0rem;
    border-bottom: 1px solid var(--backgroundColour);
}
.post-control-bar button{
    border: none;
    background-color: transparent;
    padding: .5rem;
    cursor: pointer;

    /* outline: 1px solid red; */

}
.post-control-bar button svg{
    margin-right: 5px;
}

.post-control-bar-isHidden{
    background-color: orangered !important;
    color: white;
}