.user-container{
    /* margin-bottom: 2rem; */
    
}
.user-loggedIn{
    border-bottom: 10px solid var(--backgroundColour);
    display: flex;
        align-items: center;
        justify-content: space-between;
    /* padding: 5px; */
    padding-bottom: 25px;
    /* padding-top: 25px; */
    /* padding-left: 25px; */
    /* padding-right: 25px; */
}

.user-loggedIn span{
    /* padding: 0; */
    /* margin: 0; */

    background-color: var(--infoSignal);
    color: white;
    cursor: default;
    font-weight: initial;
}

/* Logged Out */
.loggedOut{
    display: flex;
    align-items: center;
}
.loggedOutViewWrapper{
    /* height: 500px; */
    /* width: 500px; */
    color: grey;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.leftDiv{
    width: 50%;
    /* transform: rotateY(50deg); */
}
.rightDiv{
    width: 50%;
}
.loggedOutViewWrapper h1{
    font-size: 10rem;
    transform: rotate(359deg);
}
.loggedOutViewWrapper .defaultBtnStyle{
    display: block;
    animation: signInBtnAni 5s;
    animation-iteration-count: infinite;
}
.loggedOutViewWrapper .defaultBtnStyle:hover{
    background-color: grey;
    color: white;
}
@keyframes signInBtnAni {
    0%{
        box-shadow: 0px 0px 0px 1px grey;
    }
    50%{
        box-shadow: 0px 0px 0px 5px grey;
    }
    100%{
        box-shadow: 0px 0px 0px 1px grey;
    }
}