

.global-view-wrapper{
    border-radius: var(--borderRadius);
    /* outline: 1px solid var(--backgroundColour); */
    /* box-shadow: 5px 5px 0px 0px var(--backgroundColour); */
    color: black;
    margin-bottom: 1.5rem;
}

.global-view-wrapper .colTitle{
    cursor: default;
    font-size: 1.75rem;
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 20px;
}

.colTitle p{
    margin: 0;
    padding: 10px;
}

#post-item-edit-mode{
    background-color: var(--authorInputBackgroundColour);
    transform: translateX(-20px);
}

/* Change Page Buttons */
.changePageButtonContainer{
    display: flex ;
        justify-content: space-evenly;
}