

.global-view-wrapper{

    border-radius: var(--borderRadius);
    /* outline: 1px solid var(--backgroundColour); */
    /* box-shadow: 5px 5px 0px 0px var(--backgroundColour); */
    color: black;
    margin-bottom: 1.5rem;

    height: 70px;
    overflow: hidden;
    /* outline: 1px solid red; */
}

.global-view-wrapper .item-review-container .colTitle, .left-column .colTitle{
    border-bottom: 10px solid var(--backgroundColour);
    /* background-color: red; */
    cursor: default;
    font-size: 1.75rem;
    justify-content: flex-start;
    margin: 0;
}

.colTitle{
    background-color: white;
    display: flex;
    width: 100%;
}
.colTitle h2{
    /* background-color: red; */
    cursor: default;
    font-size: 1.75rem;
    justify-content: flex-start;
    margin: 0;
    /* width: 100%; */
}
.colTitle h2 p{
    margin: 0;
    padding: 10px;
}

#post-item-edit-mode{
    background-color: var(--authorInputBackgroundColour);
    transform: translateX(-20px);
}

/* Change Page Buttons */
.changePageButtonContainer{
    display: flex ;
        justify-content: space-evenly;
}