.control-panel-header-buttons{
    /* outline: 1px solid red; */
    /* width: 90%; */
    display: flex;
        justify-content: flex-end;
    margin: 0 auto;
        margin-top: 10px;
        margin-bottom: 10px;
}
.manageColumns-container{
    /* width: 90%; */
    /* margin: 0 auto; */
    display: flex;
        flex-direction: column;
}
.manageColumns-container > span{
    margin-bottom: 10px;
    margin-top: 10px;

}
.manageColumns-column{
    cursor: default;
    display: flex;
        justify-content: space-between;
        /* align-items: center; */
        align-items: stretch;
    margin-bottom: 10px;
    width: 100%;
}
.manageColumns-column .author-input-form-title {
    display: flex;
    align-self: center;
    width: 100%;
}
.manageColumns-column .author-input-form-title .author-input-field{
    width: 100%;
}
.manageColumns-column .author-input-form-title .author-input-field .defaultBtnStyle{
    /* background-color: red; */
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 8px;
}
.manageColumns-column .author-input-form-title .author-input-field .defaultBtnStyle span{
    margin-right: 5px;
}
.manageColumns-column .author-input-form-title .author-input-field .defaultBtnStyle div div{
    height: auto;
    overflow-wrap: anywhere;
    
}
.manageColumns-column .author-input-form-title .author-input-field .defaultBtnStyle div div p{
    margin: 0;
    padding: 0;
}
.manageColumns-createNewLiveColumn{
    width: 100%;
}

.manageColumns-headline{
    box-shadow: var(--buttonBoxShadow) grey;
    background-color: white;
        border: none;
        border-radius: 5px;
    cursor: pointer;
    color: grey;
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    /* margin: 5px; */
    /* padding: 10px; */
    overflow-wrap: anywhere;
    padding: 5px;
    width: 100%;
}

.manageColumns-createNewLiveColumn div{
    display: flex;
        align-items: center;
        flex-direction: row;
    width: 100%;
}
.manageColumns-createNewLiveColumn div div div div{
    background-color: white;
    box-shadow: var(--buttonBoxShadow) grey;
    border: none;
    border-radius: 5px;
    height: 36px;
    
}
.manageColumns-createNewLiveColumn div div div div span{
    margin-right: 5px;
}
.manageColumns-createNewLiveColumn div div .author-input-field div:focus-visible{
    /* background-color: red; */
    box-shadow: 0px 3px 0px -2px grey;
}
.manageColumns-createNewLiveColumn div div div h3{
    display: none;
}

/* Buttons */
.manageColumns-column-buttons{
    display: flex;
    overflow-wrap: anywhere;
}


.manageColumns-activeCheck{display: flex;}

.manageColumns-postAmount .defaultBtnStyle{
    white-space: nowrap;
    background-color: #dbdbdb;
    color: #8d8d8d;
    cursor: default;
}

.manageColumns-row{
    /* box-shadow: 0px 2px 5px -1px #818181; */
    margin-top: 10px;
    padding-top: 10px;
    /* outline: 1px solid #818181; */
}


.manageColumns-toggleExtraInfo button span{
    display: flex;
}
.dropdown{
    /* box-shadow: 0px 2px 5px -1px #818181; */
    justify-content: flex-start;
}

.rotateTo0{
    animation: rotate0Ani .3s;
    animation-fill-mode: forwards;

}

@keyframes rotate0Ani{
    0%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}


.rotateTo180{
    animation: rotate180Ani .3s;
    animation-fill-mode: forwards;

}

@keyframes rotate180Ani{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(180deg);
    }
}

/* Edit Button */
.editButtonContainer, .manageColumns-toggleExtraInfo {
    display: flex;
}
/* Hide Column Button */
.manageColumns-manageHide button{
    margin-left: 0 !important;
}
.manageColumns-manageHide button span  svg{
    display: flex;
}
.columnHidden{
    opacity: 0.5;
    color: red !important;
}

.columnVisible{

}