.manageColumns-container{
    width: 90%;
    margin: 0 auto;
    display: flex;
        flex-direction: column;
}

.manageColumns-column{
    cursor: default;
    display: flex;
        justify-content: space-between;
        align-items: center;
    width: 100%;
}
.manageColumns-createNewLiveColumn{
    width: 100%;
}

.manageColumns-headline{
    box-shadow: var(--buttonBoxShadow) grey;
    background-color: white;
        border: none;
        border-radius: 5px;
    cursor: pointer;
    color: grey;
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    margin: 5px;
    padding: 10px;
    width: 100%;
}

.manageColumns-createNewLiveColumn div{
    display: flex;
    width: 100%;
}

.manageColumns-createNewLiveColumn div div div h3{
    display: none;
}

/* Buttons */
.manageColumns-column-buttons{
    display: flex;
}

