.confirm-post-overlay{
    background-color: #0000002e;
}
.control-panel-title-bar{
    display: flex;
        justify-content: space-between;
        align-items: center;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
}
.control-panel-title-bar h3{
     color: white;
     margin: 0;

}
.control-panel-header-buttons{
    /* outline: 1px solid red; */
    /* width: 90%; */
    display: flex;
        justify-content: space-between;
    margin: 0 auto;
        /* margin-top: 10px; */
        /* margin-bottom: 10px; */
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
}
.control-panel-header-buttons button svg{
    margin-right: 5px;
}

.manageColumns-column{
    cursor: default;
    display: flex;
        justify-content: space-between;
        /* align-items: center; */
        flex-direction: column;
        align-items: stretch;
    margin-bottom: 0;
    width: 100%;
}

#column-active{
    box-shadow: 0px 0px 0px 5px #505050;
    height: auto;
  }

#column-active .manageColumns-column   .manageColumns-headline{
    margin-bottom: 0;
}

.manageColumns-column .author-input-form-title {
    display: flex;
    align-self: center;
    width: 100%;
}
.manageColumns-column .author-input-form-title .author-input-field{
    width: 100%;
}
.manageColumns-column .author-input-form-title .author-input-field .defaultBtnStyle{
    /* background-color: red; */
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 20px;
}
.manageColumns-column .author-input-form-title .author-input-field .defaultBtnStyle span{
    margin-right: 5px;
}
.manageColumns-column .author-input-form-title .author-input-field .defaultBtnStyle div div{
    height: auto;
    overflow-wrap: anywhere;
    
}
.manageColumns-column .author-input-form-title .author-input-field .defaultBtnStyle div div p{
    margin: 0;
    padding: 0;
}




  .manageColumns-addNewButton{
    width: 100%;
  }

  .manageColumns-addNewButton .addNewButton{
    margin: 0;
      margin-bottom: 15px;
    width: 100%;
  }



  .manageColumns-column + .dropdown{
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 10px;
    gap: 10px;
  }



.manageColumns-headline{
    box-shadow: var(--buttonBoxShadow) grey;
    background-color: white;
        border: none;
        border-radius: 5px;
    cursor: pointer;
    color: grey;
    display: flex;
        align-items: center;
        justify-content: center;
    font-size: 1rem;
    font-weight: bold;
    /* margin: 5px; */
    /* padding: 10px; */
    overflow-wrap: anywhere;
    padding: 0;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 15px;
    margin-top: 15px;
    width: 100%;
}




/* Buttons */



.manageColumns-activeCheck{display: flex;}

.manageColumns-postAmount .defaultBtnStyle{
    white-space: nowrap;
    background-color: #dbdbdb;
    color: #8d8d8d;
    cursor: default;
}

.manageColumns-row{
    border-radius: 5px;
    box-shadow: 0px 0px 0px 5px #00000030;
    margin-top: 25px;
    padding: 5px;

    height: 100px;
    height: 115px;

    overflow: hidden;
  }

.manageColumns-toggleExtraInfo button span{
    display: flex;
}
.dropdown{
    /* box-shadow: 0px 2px 5px -1px #818181; */
    justify-content: flex-start;
}

.rotateTo0{
    animation: rotate0Ani .3s;
    animation-fill-mode: forwards;

}

@keyframes rotate0Ani{
    0%{
        transform: rotateZ(180deg);
    }
    100%{
        transform: rotateZ(0deg);
    }
}


.rotateTo180{
    animation: rotate180Ani .3s;
    animation-fill-mode: forwards;

}

@keyframes rotate180Ani{
    0%{
        transform: rotateZ(0deg);
    }
    100%{
        transform: rotateZ(180deg);
    }
}

/* Edit Button */
.editButtonContainer, .manageColumns-toggleExtraInfo {
    display: flex;
}
/* Hide Column Button */
.manageColumns-manageHide{
    display: flex;
}
.manageColumns-manageHide button{
    margin-left: 0 !important;
}
.manageColumns-manageHide button span  svg{
    display: flex;
}
.columnHidden{
    opacity: 0.5;
    color: red !important;
}

.columnVisible{

}

/* Clear Columns Btn */
.clearColumnsBtnContainer{
    display: flex;
    width: 100%;
}
.clearColumnsBtnActive{
    display: flex;
        justify-content: space-between;
    width: 100%;
}
