.manageColumns-container{
    /* width: 90%; */
    /* margin: 0 auto; */
    display: flex;
        flex-direction: column;

    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}
.manageColumns-container h3{
    margin-bottom: 0px;
}
.manageColumns-container > span{
    margin-bottom: 10px;
    margin-top: 10px;

}




.manageColumns-createNewLiveColumn{
    border-bottom: 10px solid var(--backgroundColour);
    border-top: 10px solid var(--backgroundColour);
    display: flex;  
        flex-direction: column;
    background-color: var(--newPostSignal);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 30px;
}

.manageColumns-createNewLiveColumn h3{
    color: white;
    padding-left: 25px;
    padding-right: 25px;    
    margin: 0;
        margin-bottom: 10px;

}
.manageColumns-createNewLiveColumn > div .author-input-form-title{

    padding-left: 25px;
    padding-right: 25px;

    width: 100%;
}

.manageColumns-createNewLiveColumn > div{
    /* background-color: red; */
    display: flex;
        align-items: center;
        flex-direction: row;
    width: 100%;
}
.manageColumns-createNewLiveColumn div div div div{
    background-color: white;
    box-shadow: var(--buttonBoxShadow) grey;
    border: none;
    border-radius: 5px;
    /* height: 36px; */
    height: auto;
    
}
.manageColumns-createNewLiveColumn div div div div p{
    margin: 0;
    padding: 0;
    /* color: red; */
}
.manageColumns-createNewLiveColumn div div div div span{
    margin-right: 5px;
}
.manageColumns-createNewLiveColumn div div .author-input-field div:focus-visible{
    /* background-color: red; */
    box-shadow: 0px 3px 0px -2px grey;
}
.manageColumns-createNewLiveColumn div div div h3{
    display: none;
}