/* Item Review */
.item-review-container{
    /* margin-top: 3rem;
    margin-bottom: 3rem; */
    border-radius: var(--borderRadius);
    height: 70px;
    overflow: hidden;
    /* outline: 1px solid red; */
    margin-bottom: 10px;
}
.item-review-container .expand{
    height: auto !important;
}