/* Item Review */
.item-review-container{
    /* margin-top: 3rem;
    margin-bottom: 3rem; */
    border-radius: var(--borderRadius);
    display: flex;
        flex-direction: column;
        gap: 10px;
    height: 70px;
    overflow: hidden;
    outline: 5px solid #8080805c;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
}
.item-review-container .expand{
    height: auto !important;
}