.author-input-wrapper{
    /* outline: 1px solid black; */
    animation: test123 0.5s;
    /* background-color: grey; */
    background-color: var(--authorInputBackgroundColour);
    /* box-shadow: 5px 5px 5px 5px var(--authorInputBackgroundColour); */
    box-shadow: var(  --buttonBoxShadow) grey;
    border-radius: 5px;
    display: flex;
        flex: var(--columnSpacing);
        flex-direction: column;
    height: 100%;
    padding-bottom: 25px;
    padding-top: 25px;
    /* margin: 0 auto; */
    margin-top: 3rem;
    /* width: 90%; */
        max-width: 480px;
    /* border-radius: var(--borderRadius); */

}
.author-input-wrapper > div{
    width: 90%;
    margin: 0 auto;
}
.author-input-form{
    display: flex;
    /* background-color: orange; */
    /* padding: 2rem; */
    flex-direction: column;
    align-items: flex-start;
}
.author-input-form > div{
    width: 100%;
}
/* Standardising Styles */
.author-input-field{
    color: black;
}

.author-input-field > div{
    background-color:#f1f1f185;
    display: flex;
       align-items: center;
}
.author-input-field:focus-visible,
.author-input-field div:focus-visible,
.author-input-field input:focus-visible{
    box-shadow: 0px 3px 0px 0px grey;
    outline: none;
}
/* Title, Subtitle */
.author-input-field > div > div{
    padding-left: 1rem;
    width: 100%;
}
/* Tweet Id */
.author-input-field > div > input{
    background-color:#f1f1f185;
    border: none;
    padding: 1rem;
    width: 100%;
}

/* Type Select ------------------------- */
.author-input-form-type-select{
    margin-top: var(--inputFormItemSpacing);
    /* background-color: #ff000085; */
}
.author-input-form-type-select-items{
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}
.author-input-form-type-select-items div{
    background-color: #ababab;
    /* border-radius: var(--borderRadius); */
    box-shadow: 0px 2px 5px -2px black;
    cursor: pointer;
    /* font-family:monospace; */
    font-weight: bold;
    flex: 0 0 25%;
    margin: .5rem;
    padding: .5rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.author-input-form-type-select-items div:active{
    box-shadow: 0px 0px 0px 0px black;
}
#Goal{
    background-color: var(--goalColour);
}
#Offside{
    background-color: var(--offsideColour);
}
#YellowCard{
    background-color: var(--yellowCardColour) ;
    color: black;
}
#RedCard{
    background-color: var(--redCardColour);
}
#Breaking{
    background-color: var(--breakingColour);
    color: black;
}
#Update{
    background-color: var(--postBorderColour);
    color: black;
}
.author-input-text-editor-upload-image{
    display: flex;
    padding-top: 1rem;
    /* outline: 1px solid black; */
}
    .author-input-form-upload-image-button{
        margin-right: 1rem;
    }
    .author-input-form-upload-image-button button{
        border: none;
        background-color: var(--updateColour);
        color: white;
        cursor: pointer;
        opacity: 0.5;
        padding: 1rem;
        display: flex;
        align-items: center;
    }
    .author-input-form-upload-image-button button:hover{
        /* box-shadow: var(--boxShadowHorizontal) var(--postBorderColour); */
        opacity: 1;
    }

        .author-input-form-upload-image-button input{
            display: none;
            /* visibility: hidden; */
        }


/* Text Area */
.author-input-form-text-area {
    margin-top: var(--inputFormItemSpacing);
    width: 100%;
}
.author-input-form-text-area textarea{
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    outline: none;
    resize: vertical;
    width: inherit;
}

.confirm-post-overlay{
    /* height: 500px; */
    /* background-color: white; */
    box-shadow: none;
    animation: test123 0.5s;
}

@keyframes test123 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}