.author-input-wrapper{
    /* outline: 1px solid black; */
    /* background-color: grey; */
    background-color: var(--authorInputBackgroundColour);
    box-shadow: 5px 5px 5px 5px var(--authorInputBackgroundColour);
    display: flex;
    flex: var(--columnSpacing);
    flex-direction: column;
    height: 100%;
    margin-top: 3rem;
    max-width: 480px;
    /* border-radius: var(--borderRadius); */

}
.author-input-form{
    display: flex;
    /* background-color: orange; */
    padding: 2rem;
    flex-direction: column;
    align-items: flex-start;
}

/********************************************************* Title */
.author-input-form-title{
     display: flex;
        align-items: center;
     width: 100%;
}
.author-input-form-title > div{
    color: black;
    width: 100%;
}
.author-input-form-title div div p{
    margin: 0;
    padding: 1rem;
}
.author-input-title > div{
    background-color:#f1f1f185;
}
.author-input-form-title:focus-visible,
.author-input-form-title div:focus-visible{
    outline: 0px solid red;
    box-shadow: 0px 3px 0px 0px grey;
}

.author-input-form-title label{
    white-space: nowrap;
    margin-right: 1rem;
}
.author-input-form-title input{
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    width: 100%;
}
.author-input-form-title input:focus-visible{
    outline: none;
}


/********************************************************* Subtitle */
.author-input-form-subtitle{
    display: flex;
       align-items: center;
    margin-top: 1rem;
    width: 100%;
}
.author-input-form-subtitle > div{
    color: black;
    width: 100%;
}
.author-input-subtitle > div{
    background-color:#f1f1f185;
}

.author-input-form-subtitle div div p{
    margin: 0;
    padding: 1rem;
}

.author-input-form-subtitle:focus-visible,
.author-input-form-subtitle div:focus-visible{
    outline: 0px solid red;
    box-shadow: 0px 3px 0px 0px grey;
}


/* Type Select ------------------------- */
.author-input-form-type-select{
    margin-top: var(--inputFormItemSpacing);
    /* background-color: #ff000085; */
}
.author-input-form-type-select-items{
    display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}
.author-input-form-type-select-items div{
    background-color: #ababab;
    /* border-radius: var(--borderRadius); */
    box-shadow: 0px 2px 5px -2px black;
    cursor: pointer;
    /* font-family:monospace; */
    font-weight: bold;
    flex: 0 0 25%;
    margin: .5rem;
    padding: .5rem;
    text-transform: uppercase;
    white-space: nowrap;
}

.author-input-form-type-select-items div:active{
    box-shadow: 0px 0px 0px 0px black;
}
#Goal{
    background-color: green;
}
#Offside{
    background-color: orange;
}
#YellowCard{
    background-color: yellow;
    color: black;
}
#RedCard{
    background-color: red;
}
#Breaking{
    background-color: gold;
    color: black;
}
#Update{
    background-color: beige;
    color: black;
}

/* Text Area */
.author-input-form-text-area {
    margin-top: var(--inputFormItemSpacing);
    width: 100%;
}
.author-input-form-text-area textarea{
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    outline: none;
    resize: vertical;
    width: inherit;
}

