/* .rdw-editor-wrapper{
    display: flex;
    flex-direction: column;
    margin-top: var(--inputFormItemSpacing);
}
.rdw-editor-toolbar{
    display: flex;
    flex-wrap: wrap;
}
.rdw-editor-toolbar > div{
    display: flex;
}
.rdw-option-wrapper{
    outline: 1px solid black;
    margin-right: 5px;
    display: flex;
        align-items: center;
}
.rdw-inline-wrapper{
    display: inherit;
}

  .editor-class {
    background-color:red;
    padding: 1rem;
    border: 1px solid #ccc;
  } */

  /* .wrapper-class {
    padding: 1rem;
    border: 1px solid #ccc;
  }
  .toolbar-class {
      border: 1px solid #ccc;
    } */
.rdw-editor-wrapper{
    color: black;
}
.rdw-editor-toolbar{
    background: var(--backgroundColour) !important;
    border: 1px solid var(--backgroundColour) !important;
}
.rdw-option-wrapper{
    /* min-width: 20px !important; */
    background: var(--backgroundColour) !important;
    border: 1px solid var(--backgroundColour) !important;
    border-radius: none !important;
    height: 15px !important;
    padding: 1px !important;
    margin: 1px !important;
}    

.rdw-dropdown-wrapper{
    background: var(--backgroundColour) !important;
    border: 1px solid #f1f1f185;
}
.editor-class {
      background-color:#f1f1f185;
      padding: 1rem;
      border: 1px solid #ccc;
}

.preview {
    padding: 1rem;
    margin-top: 1rem;
  }