.manageColumns-itemControls{
    display: flex;
    flex-direction: row;
    gap: 5px;
  }
  .manageColumns-itemControls > div{
    width: 100%;
  }
  .manageColumns-itemControls > div button{
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0px;
    width: inherit;

  }