

.post-item{

    /* outline: 1px solid var(--backgroundColour); */
    /* box-shadow: 5px 5px 0px 0px var(--backgroundColour); */
    /* outline: 1px solid var(--postBorderColour); */
    box-shadow: var(--boxShadowV2) var(--postBorderColour);
    color: black;
    /* padding: 1rem; */
    margin-bottom: 1rem;
    background-color: white;

}

.animate-new-post{
    animation: newItemAni 3s;
    animation-fill-mode: forwards;
}

.newPost{
    /* background-color: red; */
    /* border-bottom: 10px solid lightgreen; */
    overflow: hidden;
    animation: newItemAni 10s;
    /* animation-fill-mode: forwards; */
    animation-fill-mode: both;
}
@keyframes newItemAni {
    0%{
        max-height: 0 ;
        /* outline: 1px solid #7aff00; */
        /* box-shadow: 5px 5px 0px 0px #7aff00; */
    }
    100%{
        max-height: 2000px;
        /* border-bottom: 10px solid white;      */

        /* outline: 1px solid var(--postBorderColour); */
        /* box-shadow: 5px 5px 0px 0px var(--postBorderColour); */
    }
}

.post-item-time-stamp{

}

.post-item-headline-wrapper{
    display: flex;
    flex-direction: row;
    margin-top: 1rem;
}

.post-item-headline-wrapper img{
    margin-right: 1rem;
    width: 50px;

}

.post-item-headline-content{    
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    /* outline: 1px solid black; */
}

.post-item-title{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}
.post-item-title p{
    font-size: 1.5rem;
}

.post-item-subtitle p{
    font-size: .9rem;
}
.post-item-title p, .post-item-subtitle p{
    padding: 0;
    margin: 0;
}

.post-item-new-post-indicator{
    /* outline: 1px solid red; */
    position: absolute;
    /* padding: 5px; */
    /* margin: ; */
    color: black;
    border-bottom: 5px solid #5aff5a;
    animation: test 50s;
    animation-fill-mode: forwards;

}

@keyframes test {
    0%{
        transform: translateX(0px);
    }
    90%{
        transform: translateX(0px);
        opacity: 1;
    }
    92%{
        opacity: 0;
    }
    100%{
        transform: translateX(100px);
        opacity: 0;
    }
}




.post-item-container{
    outline: 1px solid var(--backgroundColour);
    /* outline: 1px solid red; */
    padding: 2rem;
    position: relative;
}

.post-item-container-editMode{
    border-radius: 1rem;
    outline: 5px solid yellow;
    /* border-bottom: 10px solid yellow; */
    padding: 2rem;
}

.Goal{ box-shadow: var(--boxShadowV2) var(--goalColour) }
.Offside{ box-shadow: var(--boxShadowV2) var(--offsideColour) }
.YellowCard{ box-shadow: var(--boxShadowV2) var(--yellowCardColour) }
.RedCard{ box-shadow: var(--boxShadowV2) var(--redCardColour) }
.Breaking{ box-shadow: var(--boxShadowV2) var(--breakingColour) }
.Update{ box-shadow: var(--boxShadowV2) var(--postBorderColour) }