.addNewButton, .deleteButton, .checkActiveButton,.defaultBtnStyle{
    box-shadow: var(--buttonBoxShadow) grey;
background-color: white;
    border: none;
    border-radius: 5px;
cursor: pointer;
color: grey;
display: flex;
    align-items: center;
    justify-content: center;

font-size: 1rem;
font-weight: bold;
/* height: 100%; */
/* margin: 5px; */
margin-left: 5px;
margin-right: 5px;
padding: 10px;
}

.checkActiveButton:hover{
    color: black;    
    animation: checkActiveButtonAni 0.5s;
    animation-fill-mode: forwards;
}

@keyframes checkActiveButtonAni {
    0%{
        box-shadow: var(--buttonBoxShadow) grey;
    }
    100%{
        box-shadow: var(--buttonBoxShadow) black;
    }
}

.addNewButton:hover{
    color: green;
    animation: addNewButtonAni 0.5s;
    animation-fill-mode: forwards;
}

@keyframes addNewButtonAni {
    0%{
        box-shadow: var(--buttonBoxShadow) grey;
    }
    100%{
        box-shadow: var(--buttonBoxShadow) green;
    }
}


.deleteButton:hover{
    color: red;
    animation: deleteButtonAni 0.5s;
    animation-fill-mode: forwards;
}

@keyframes deleteButtonAni {
    0%{
        box-shadow: var(--buttonBoxShadow) grey;
    }
    100%{
        box-shadow: var(--buttonBoxShadow) red;
    }
}


/* Utility */
#colIsActive{
    color: black;
}

.greyOut{
    opacity: .5;
    cursor: default;
}

#clearColumnsBtn:hover{
    color: red;
    animation: clearColumnsBtn .5s;
    animation-fill-mode: forwards;
}

@keyframes clearColumnsBtn {
    0%{
        box-shadow: var(--buttonBoxShadow) grey;
    }
    100%{
        box-shadow: var(--buttonBoxShadow) red;
    }
}

.toggleCPanelBtn{
    color: green;
    /* margin: 0 auto; */
    margin-top: 10px;
    /* width: 90%; */
}

.toggleCPanelBtn:hover{
    color: green;
    animation: toggleCPanelBtn .5s;
    animation-fill-mode: forwards;
}

@keyframes toggleCPanelBtn {
    0%{
        box-shadow: var(--buttonBoxShadow) grey;
    }
    100%{
        box-shadow: var(--buttonBoxShadow) green;
    }
}

.loginBtn{
    /* color: blue; */
}

.loginBtn:hover{
    color: blue;
    animation: loginBtnAni .5s;
    animation-fill-mode: forwards;
}

@keyframes loginBtnAni {
    0%{
        box-shadow: var(--buttonBoxShadow) grey;
    }
    100%{
        box-shadow: var(--buttonBoxShadow) blue;
    }
}