.addNewButton, .deleteButton, .checkActiveButton,.defaultBtnStyle, .author-input-text-editor-buttons button{
    box-shadow: var(--buttonBoxShadow) grey;
background-color: white;
    border: none;
    border-radius: 5px;
cursor: pointer;
color: grey;
display: flex;
    align-items: center;
    justify-content: center;

font-size: 1rem;
font-weight: bold;
/* height: 100%; */
/* margin: 5px; */
/* margin-left: 5px; */
/* margin-right: 5px; */
padding: 10px;
}
.defaultBtnStyle span{
    /* margin-right: 5px; */
}

.checkActiveButton:hover{
    color: black;    
    animation: checkActiveButtonAni 0.5s;
    animation-fill-mode: forwards;
}

@keyframes checkActiveButtonAni {
    0%{
        box-shadow: var(--buttonBoxShadow) grey;
    }
    100%{
        box-shadow: var(--buttonBoxShadow) black;
    }
}

.addNewButton{
    background-color: var(--newPostSignal);
    color: white;
}
.addNewButton:hover{
    /* color: green; */
    /* animation: addNewButtonAni 0.5s; */
    animation-fill-mode: forwards;
}
.addNewButton:focus{
    outline: 3px solid white;
}

@keyframes addNewButtonAni {
    0%{
        box-shadow: var(--buttonBoxShadow) grey;
    }
    100%{
        box-shadow: var(--buttonBoxShadow) green;
    }
}

/* Delete Button */
.deleteButtonWrapper{
    display: flex;
}
.deleteActive{
    display: flex;
    box-shadow: 0px 2px 5px -1px #818181;
    margin-left: 5px;
    margin-right: 5px;
}
.deleteButton:hover{
    /* color: red; */
    animation: deleteButtonAni 0.5s;
    animation-fill-mode: forwards;
}

@keyframes deleteButtonAni {
    0%{
        box-shadow: var(--buttonBoxShadow) grey;
    }
    100%{
        box-shadow: var(--buttonBoxShadow) red;
    }
}


/* Utility */
#colIsActive{
    color: black;
}

.greyOut{
    opacity: .5;
    cursor: default;
}

#clearColumnsBtn:hover{
    color: red;
    animation: clearColumnsBtn .5s;
    animation-fill-mode: forwards;
}

@keyframes clearColumnsBtn {
    0%{
        box-shadow: var(--buttonBoxShadow) grey;
    }
    100%{
        box-shadow: var(--buttonBoxShadow) red;
    }
}

.toggleCPanelBtn{
    color: green;
}

.toggleCPanelBtn:hover{
    color: green;
    animation: toggleCPanelBtn .5s;
    animation-fill-mode: forwards;
}

@keyframes toggleCPanelBtn {
    0%{
        box-shadow: var(--buttonBoxShadow) grey;
    }
    100%{
        box-shadow: var(--buttonBoxShadow) green;
    }
}

.loginBtn{
    /* color: blue; */
}

.loginBtn:hover{
    color: blue;
    animation: loginBtnAni .5s;
    animation-fill-mode: forwards;
}

@keyframes loginBtnAni {
    0%{
        box-shadow: var(--buttonBoxShadow) grey;
    }
    100%{
        box-shadow: var(--buttonBoxShadow) blue;
    }
}
/* Edit Button */
.editActive{
    display: flex;
    box-shadow: 0px 2px 5px -1px #818181;
    margin-left: 5px;
    margin-right: 5px;
}


/* View Style Button */
/* created by ChatGPT, modified by me */
.cPanelViewStyleContainer{
    cursor: default;
    display: flex;
        align-items: center;
    gap: 5px;
    color: var(--infoSignal);
    /* outline: 1px solid black; */
}
.simpleView{

}
.detailedView{
    /* flex-direction: row-reverse; */
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .cPanelViewStyleContainer label input{
    cursor: pointer;
  }
  .toggle-button.focused {
    /* outline: 2px solid black; */
    border-radius: 5px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
    width: 100%;
    position: relative;
    z-index: 1;
    background-color: red;
    height: 100%;
  }
  .switch input:focus{
    outline: none;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    /* background-color: white; */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    /* background-color: red; */
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 5px;
  }
  .slider:after{
    background-color: black;
    
  }
  
  input:checked + .slider {
    /* background-color: #2196F3; */
    /* background-color: #505050; */
    background-color: #ccc;
    /* background-color: red; */
    padding: 0 !important;
    margin: 0 !important;

    /* background-color: white; */
}

input:focus + .slider {
    /* box-shadow: 0 0 1px #2196F3; */
    /* box-shadow: 0 0 1px #505050; */
    background-color: #ccc;
    
    /* background-color: white; */
  }
  
  input:checked + .slider:before {
    /* -webkit-transform: translateX(26px); */
    /* -ms-transform: translateX(26px); */
    /* transform: translateX(26px); */
    width: 52px;

    background-color: black;
    background-color: var(--infoSignal);
  }
  